<div>
  <nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
  </a>
  <span class="navbar-text">
    <div class="hide">{{user.id}}</div>
  {{ user.first_name }} {{ user.last_name }}
  </span>
</nav>
  <div class="elfsight-app-652f72be-6bea-4293-a921-8a5026670311"></div>
  {{!-- <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23039BE5&amp;ctz=Australia%2FBrisbane&amp;src=aG9iYnljb25uZWN0MTAxQGdtYWlsLmNvbQ&amp;color=%23039BE5&amp;title=HOBBY%20CONNECT" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe> --}}
    <div class="container">
        <div class="row">
        <div class="col-md-6 col-md-offset-3">
        <h2>Create an Event</h2>
        <form class="event">
          <div class="form-group">
            <label for="eventName">Event Name</label>
            <input type="text" class="form-control" id="eventName" placeholder="Event Name">
          </div>
          <div class="form-group">
            <label for="dateStart">Date of event</label>
            <input type="date" class="form-control" id="dateStart" placeholder="00/00/0000">
          </div>
          <div class="form-group">
            <label for="timeStart">The time that the event starts</label>
            <input type="time" class="form-control" id="timeStart" placeholder="00:00">
          </div>
          <div class="form-group">
            <label for="timeFinish">The time that the event finishes</label>
            <input type="time" class="form-control" id="timeFinish" placeholder="00:00">
          </div>
          <button type="submit" class="btn btn-default">Create</button>
        </form>
        <br />
        
      </div>
    </div>
  </div>
</div>
      <script type="text/javascript" src="/assets/js/script.js"></script>
